// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F8F8F8;
$lilla: #d0c1b6;
$dark-blue: #000000;
$rum: #FD6B49;
$lighty-gray: #F6F6F6;
$superblue: #7800FF;
$palm: #A2A79E;
