<div class="container">
  <h3>Details of the cocktail:</h3>
  <h1><%= @cocktail.name %></h1>
  <ul>
    <h4>Ingredients</h4>
    <% @cocktail.ingredients.each do |ingredient| %>
      <li>
        <%= ingredient.name %>
      </li>
    <% end %>
  </ul>
  <ul>
    <h4>Doses</h4>
    <% @cocktail.doses.each do |dose| %>
      <li>
            dose_path(dose),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %><br>
  <%= link_to "Back to list", '/cocktails' %><br>
</div>

