<div class="container">
  <h1>Create a new dose</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
  <%= f.submit "Post new dose", class: "btn btn-primary" %>
  <% end %>
</div>
